.b1{

    background-color: red;
    border: none;
    height: 40px;
    width: 30%;
    font-weight: bold;
    color: white;
    font-size: 20px;
    border-radius: 6px;
}              

.b2{
    background-color: blue;
    border: none;
    height: 40px;
    width: 70%;
    font-weight: bold;
    color: white;
    font-size: 20px;
    border-radius: 6px;

}
@media(max-width:600px)