.b1{background-color: red;
width: 100px;
height: 100px;
margin-left: 500px;
position: absolute;
margin-top: 200px;
animation-name: animation1;
animation-duration: 10s;
animation-fill-mode: forwards;
animation-iteration-count: infinite;


}

@keyframes animation1{


    0%{


        background-color: red;

    margin-left: 500px;
transform:rotate(0deg) scale(1);
margin-top: 200px;
border-radius: 0%;
}
25%{


    background-color: blue;

margin-left: 1000px;
transform:rotate(360deg) scale(2);
margin-top: 400px;
border-radius: 100% ;
}
   

    50%{background-color: gold;
    margin-left: 1500px;
    transform: rotate(0deg) scale(1);
border-radius: 0%;
margin-top: 200px;
width: 100px;
height: 100px;}
75%{


    background-color: blue;

margin-left: 1000px;
transform:rotate(360deg) scale(2);
margin-top: 400px;
border-radius: 100%;
}
    100%{

        background-color: red;
    margin-left: 500px; 
transform: rotate(0deg) scale(1);
margin-top: 200px;
border-radius: 0%
}
}





